.list-urls-box{
	table{
		font-size: 10pt;
		width: 100%;
		th, td{
			word-break: break-all;
			height: 45px;
			padding-right: 20px;

			&.last{
				padding-right: 0;
			}
		}

		.remove{
			font-weight: bold;
			color: $warning-color;
		}
	}
}